@font-face {
  font-family: 'MyFont';
  src: url('./assets/CfOneTwoTreesRegular-4LGp.ttf') format('truetype'),
  url('./assets/Alexenia-d9JwX.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin-left: 10rem;
  margin-right: 10rem;
  box-sizing: border-box;
}

a {
  color: inherit;
}

#container {
  display: flex;
  gap: 0rem;
  font-family: 'Arial' 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#banner {
  color: rgb(182, 255, 188);
  background: url("./assets/tree.jpg") no-repeat;
  height: 100vh;
  width: 40vw;
  background-size: 100% 100%;
  position: relative;
  text-align: center;
}

#logo-title {
  background: rgba(0, 0, 0, 0.5);
  font-family: 'MyFont', 'Brush Script MT (cursive)';
  position: absolute;
  top: 9rem;
  font-size: 5rem;
  width: 100%;
}

#logo {
  width: 5rem;
  height: 5rem;
}


#img-source {
  position: absolute;
  bottom: 0.5rem;
  font-size: 1.5rem;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
}

#inspirational-quote {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 35vh;
  padding: 10px;
  background-color: rgba(207, 207, 207, 0.185);
  font-size: 1.3rem;
  font-weight: bold;
}
  
#sign-up-form {
  border: none;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.322);
}

label,input{
  display:flex;
  flex-direction:column;
  font-size: 0.8rem;
  border-radius: 2px;
}

#sign-up-form span {
  font-size: 1.3rem;
}

ul {
  display: flex;
  gap: 3rem;
  list-style-type: none;
  padding: 0;
}

#inspirational-quote, #sign-up-form {
  padding-left: 3rem;
}

input:invalid {
  border: 1px solid red;
}

#pass1:invalid {
  
}