@font-face {
  font-family: 'MyFont';
  src: url('./assets/CfOneTwoTreesRegular-4LGp.ttf') format('truetype'),
  url('./assets/Alexenia-d9JwX.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin-left: 10rem;
  margin-right: 10rem;
  box-sizing: border-box;
}

a {
  color: inherit;
}

#container {
  display: flex;
  gap: 0rem;
  font-family: 'Arial' 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#banner {
  color: rgb(182, 255, 188);
  background: url("./assets/tree.jpg") no-repeat;
  height: 100vh;
  width: 50vw;
  background-size: 100% 100%;
  position: relative;
  text-align: center;
}

#logo-title {
  background: rgba(0, 0, 0, 0.5);
  font-family: 'MyFont', 'Brush Script MT (cursive)';
  position: absolute;
  top: 100px;
  font-size: 5rem;
  width: 100%;
}

#logo {
  width: 5rem;
  height: 5rem;
}


#img-source {
  position: absolute;
  bottom: 5px;
  font-size: 1.5rem;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
}

p {
  margin: 0.8rem;
}

#inspirational-quote {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 35vh;
  padding: 10px;
  background-color: rgb(231, 220, 220);
  font-size: 1.5rem;
  font-weight: bold;
}

#sign-up-form {
  height: 35vh;
  border: none;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}

label,input{
  display:flex;
  flex-direction:column;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}