@font-face {
  font-family: 'MyFont';
  src: url('./assets/CfOneTwoTreesRegular-4LGp.ttf') format('truetype'),
  url('./assets/Alexenia-d9JwX.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

html {
  width: 100%;
  height: 100%;
}

#banner {
  font-family: 'MyFont', 'Brush Script MT (cursive)';
  background: url("./assets/tree.jpg") no-repeat;
  height: 100vh;
  width: 50vh;
  background-size: 100% 100%;
}
